*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#081321;
    color:#fff;
}

/* Header */

header{
    background:linear-gradient(135deg,#09101f,#11345d);
    padding:40px 20px;
    text-align:center;
    border-bottom:4px solid #00bfff;
}

.header-content{
    max-width:1000px;
    margin:auto;
}

header h1{
    font-size:42px;
    color:#00d4ff;
}

header p{
    margin-top:10px;
    color:#d6d6d6;
    font-size:18px;
}

/* Search */

#searchInput{
    margin-top:30px;
    width:90%;
    max-width:500px;
    padding:15px;
    border:none;
    border-radius:12px;
    outline:none;
    font-size:17px;
}

/* Hero */

.hero{
    text-align:center;
    padding:60px 20px;
}

.hero h2{
    font-size:38px;
}

.hero p{
    margin-top:15px;
    color:#ddd;
    max-width:700px;
    margin-left:auto;
    margin-right:auto;
}

/* Cards */

.semesters{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    gap:30px;
    padding:50px 20px;
}

.card{
    width:300px;
    min-height:220px;

    background:#132238;

    border-radius:18px;

    text-decoration:none;

    color:white;

    display:flex;

    flex-direction:column;

    justify-content:center;

    align-items:center;

    padding:20px;

    transition:0.3s;

    border:2px solid transparent;

    box-shadow:0 12px 25px rgba(0,0,0,.35);
}

.card:hover{

    transform:translateY(-8px) scale(1.03);

    border-color:#00d4ff;

    background:#19314f;
}

.icon{

    font-size:55px;

    margin-bottom:15px;
}

.card h2{

    font-size:28px;

    text-align:center;
}

.card p{

    margin-top:10px;

    text-align:center;

    color:#d9d9d9;
}

.card span{

    margin-top:20px;

    color:#00d4ff;

    font-weight:bold;
}

/* Button */

.back-btn{

    display:inline-block;

    margin:20px auto;

    padding:15px 30px;

    background:#00bfff;

    color:white;

    text-decoration:none;

    border-radius:10px;

    transition:.3s;
}

.back-btn:hover{

    background:#0095cc;
}

/* Footer */

footer{

    margin-top:70px;

    padding:35px;

    background:#09101f;

    text-align:center;

    color:#bdbdbd;

    border-top:2px solid #00bfff;
}

/* Mobile */

@media(max-width:768px){

    header h1{

        font-size:30px;
    }

    .hero h2{

        font-size:28px;
    }

    .card{

        width:90%;
    }
}*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#081321;
    color:#fff;
}

/* Header */

header{
    background:linear-gradient(135deg,#09101f,#11345d);
    padding:40px 20px;
    text-align:center;
    border-bottom:4px solid #00bfff;
}

.header-content{
    max-width:1000px;
    margin:auto;
}

header h1{
    font-size:42px;
    color:#00d4ff;
}

header p{
    margin-top:10px;
    color:#d6d6d6;
    font-size:18px;
}

/* Search */

#searchInput{
    margin-top:30px;
    width:90%;
    max-width:500px;
    padding:15px;
    border:none;
    border-radius:12px;
    outline:none;
    font-size:17px;
}

/* Hero */

.hero{
    text-align:center;
    padding:60px 20px;
}

.hero h2{
    font-size:38px;
}

.hero p{
    margin-top:15px;
    color:#ddd;
    max-width:700px;
    margin-left:auto;
    margin-right:auto;
}

/* Cards */

.semesters{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    gap:30px;
    padding:50px 20px;
}

.card{
    width:300px;
    min-height:220px;

    background:#132238;

    border-radius:18px;

    text-decoration:none;

    color:white;

    display:flex;

    flex-direction:column;

    justify-content:center;

    align-items:center;

    padding:20px;

    transition:0.3s;

    border:2px solid transparent;

    box-shadow:0 12px 25px rgba(0,0,0,.35);
}

.card:hover{

    transform:translateY(-8px) scale(1.03);

    border-color:#00d4ff;

    background:#19314f;
}

.icon{

    font-size:55px;

    margin-bottom:15px;
}

.card h2{

    font-size:28px;

    text-align:center;
}

.card p{

    margin-top:10px;

    text-align:center;

    color:#d9d9d9;
}

.card span{

    margin-top:20px;

    color:#00d4ff;

    font-weight:bold;
}

/* Button */

.back-btn{

    display:inline-block;

    margin:20px auto;

    padding:15px 30px;

    background:#00bfff;

    color:white;

    text-decoration:none;

    border-radius:10px;

    transition:.3s;
}

.back-btn:hover{

    background:#0095cc;
}

/* Footer */

footer{

    margin-top:70px;

    padding:35px;

    background:#09101f;

    text-align:center;

    color:#bdbdbd;

    border-top:2px solid #00bfff;
}

/* Mobile */

@media(max-width:768px){

    header h1{

        font-size:30px;
    }

    .hero h2{

        font-size:28px;
    }

    .card{

        width:90%;
    }
}*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#081321;
    color:#fff;
}

/* Header */

header{
    background:linear-gradient(135deg,#09101f,#11345d);
    padding:40px 20px;
    text-align:center;
    border-bottom:4px solid #00bfff;
}

.header-content{
    max-width:1000px;
    margin:auto;
}

header h1{
    font-size:42px;
    color:#00d4ff;
}

header p{
    margin-top:10px;
    color:#d6d6d6;
    font-size:18px;
}

/* Search */

#searchInput{
    margin-top:30px;
    width:90%;
    max-width:500px;
    padding:15px;
    border:none;
    border-radius:12px;
    outline:none;
    font-size:17px;
}

/* Hero */

.hero{
    text-align:center;
    padding:60px 20px;
}

.hero h2{
    font-size:38px;
}

.hero p{
    margin-top:15px;
    color:#ddd;
    max-width:700px;
    margin-left:auto;
    margin-right:auto;
}

/* Cards */

.semesters{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    gap:30px;
    padding:50px 20px;
}

.card{
    width:300px;
    min-height:220px;

    background:#132238;

    border-radius:18px;

    text-decoration:none;

    color:white;

    display:flex;

    flex-direction:column;

    justify-content:center;

    align-items:center;

    padding:20px;

    transition:0.3s;

    border:2px solid transparent;

    box-shadow:0 12px 25px rgba(0,0,0,.35);
}

.card:hover{

    transform:translateY(-8px) scale(1.03);

    border-color:#00d4ff;

    background:#19314f;
}

.icon{

    font-size:55px;

    margin-bottom:15px;
}

.card h2{

    font-size:28px;

    text-align:center;
}

.card p{

    margin-top:10px;

    text-align:center;

    color:#d9d9d9;
}

.card span{

    margin-top:20px;

    color:#00d4ff;

    font-weight:bold;
}

/* Button */

.back-btn{

    display:inline-block;

    margin:20px auto;

    padding:15px 30px;

    background:#00bfff;

    color:white;

    text-decoration:none;

    border-radius:10px;

    transition:.3s;
}

.back-btn:hover{

    background:#0095cc;
}

/* Footer */

footer{

    margin-top:70px;

    padding:35px;

    background:#09101f;

    text-align:center;

    color:#bdbdbd;

    border-top:2px solid #00bfff;
}

/* Mobile */

@media(max-width:768px){

    header h1{

        font-size:30px;
    }

    .hero h2{

        font-size:28px;
    }

    .card{

        width:90%;
    }
}V
